<p>Dear <%= @user.first_name %>,</p>
Your transaction of amount <b><%= @transaction.amount%></b> was successfull.

Click <a href='https://zege-money.herokuapp.com/transactions/<%=@transaction.id%>'>here</a> to see more details.

Thank you for using Zege Money.
